$header-background-color-desktop: rgba(black, 0.5);
$header-heading-text-color: white;
$header-margin-desktop: 10px;
$header-margin-tablet: 0px;
$header-margin-mobile: 0px;

$header-padding-desktop: 10px;

$header-z-index: 3;
$header-height-desktop: 70px;
$header-height-tablet: 60px;

$main-z-index: 1;