<div class="corgis">
</div>

<div class="previous" data-action="previousPage">
	<span class="icon ion-chevron-left"></span>
</div>

<div class="next" data-action="nextPage">
	<span class="icon ion-chevron-right"></span>
</div>