<div class="image-container preloading"></div>
<div class="progress-indicator">
	<div class="left-half">
		<div class="mask"></div>
	</div>
	<div class="right-half">
		<div class="mask"></div>
	</div>
</div>
<div class="failure-indicator hidden">
	<div class="icon-container">
		<span class="icon ion-minus-circled"></span>
	</div>
	<div class="message-container">
		<span class="message"><strong>Sorry!</strong>We couldn't find this image. It may have been deleted by its owner or Imgur may be overworked at the moment.</span>
	</div>
</div>